In [2]:
import requests
import pandas as pd
import datetime
from dateutil.relativedelta import relativedelta
from pandasql import sqldf
import matplotlib.pyplot as plt

In [7]:
token={'Authorization': 'BEARER eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2OTEyMzU5NzcsInR5cGUiOiJleHRlcm5hbCIsInVzZXIiOiJ2YWxlbnRpbmphamFqYUBvdXRsb29rLmNvbSJ9.w4x86o2GigIyp4vzrYceC0_DUqs6eKNGn_WasjFchNR91iqG9fwISfvjD5XGL7pdY-k6XTBZ7ERpt9FuzJb2xw'}

In [8]:
aAaaa=requests.get('https://api.estadisticasbcra.com/milestones',headers=token)
aAaaa

In [8]:
def getAPI_DF(url,token=None):
   
    # if type(url)!=str and type(token)!=dict:
    #     return 'Parametros incorrectos. Ingrese un dato de tipo "string" para el parametro url, y un dato de tipo "dict" para el parametro token'
    # else:
    api=requests.get(url,headers=token)
    df=api.text
    df_api=pd.read_json(df,orient='records')
    return df_api

In [9]:
df_dolar_oficial=getAPI_DF('https://api.estadisticasbcra.com/usd_of',token)
df_dolar_blue=getAPI_DF('https://api.estadisticasbcra.com/usd',token)

df_dolar_oficial.rename(columns={'d':'fecha','v':'precio oficial'},inplace=True)
df_dolar_blue.rename(columns={'d':'fecha','v':'precio blue'},inplace=True)
precio=pd.merge(df_dolar_oficial,df_dolar_blue)

precio

           fecha  precio oficial  precio blue
0     2002-03-04            2.01         2.12
1     2002-03-05            1.99         2.12
2     2002-03-06            2.05         2.14
3     2002-03-07            2.14         2.22
4     2002-03-08            2.20         2.27
...          ...             ...          ...
5005  2022-07-29          131.23       296.00
5006  2022-08-01          131.94       282.00
5007  2022-08-02          132.18       291.00
5008  2022-08-03          132.41       298.00
5009  2022-08-04          132.64       291.00

[5010 rows x 3 columns]

In [10]:
oficial=getAPI_DF('https://api.estadisticasbcra.com/usd_of',token)#.rename(columns={'d':'fecha','v':'precio oficial'},inplace=True)
# oficial=oficial.rename(columns={'d':'fecha','v':'precio oficial'},inplace=True)
oficial.rename(columns={'d':'fecha','v':'precio oficial'},inplace=True)
oficial

           fecha  precio oficial
0     2002-03-04            2.01
1     2002-03-05            1.99
2     2002-03-06            2.05
3     2002-03-07            2.14
4     2002-03-08            2.20
...          ...             ...
5011  2022-07-29          131.23
5012  2022-08-01          131.94
5013  2022-08-02          132.18
5014  2022-08-03          132.41
5015  2022-08-04          132.64

[5016 rows x 2 columns]

In [11]:
precio=precio.rename(columns={'precio oficial':'precio_oficial','precio blue':'precio_blue'})

In [12]:
variacion=getAPI_DF('https://api.estadisticasbcra.com/var_usd_vs_usd_of',token)

In [13]:
variacion.rename(columns={'v':'diferencia'},inplace=True)
variacion.drop('d',axis=1,inplace=True)
variacion

      diferencia
0         5.4726
1         6.5327
2         4.3902
3         3.7383
4         3.1818
...          ...
5005    125.5582
5006    113.7335
5007    120.1543
5008    125.0585
5009    119.3908

[5010 rows x 1 columns]

In [14]:
last_year = (datetime.datetime.now()-datetime.timedelta(days=396)).strftime("%Y-%m-%d")
hoy=datetime.date.today()
print(datetime.datetime.today()-datetime.timedelta(days=396))

2021-07-05 00:01:38.899873

In [15]:
precio_365=precio.loc[(precio['fecha']>str(last_year))&(precio['fecha']<str(hoy))].join(variacion)
precio_365=precio_365.iloc[::-1].head(264)
precio_365

           fecha  precio_oficial  precio_blue  diferencia
5009  2022-08-04          132.64        291.0    119.3908
5008  2022-08-03          132.41        298.0    125.0585
5007  2022-08-02          132.18        291.0    120.1543
5006  2022-08-01          131.94        282.0    113.7335
5005  2022-07-29          131.23        296.0    125.5582
...          ...             ...          ...         ...
4750  2021-07-15           96.19        178.0     85.0504
4749  2021-07-14           96.16        177.0     84.0682
4748  2021-07-13           96.13        176.0     83.0854
4747  2021-07-12           96.10        177.0     84.1831
4746  2021-07-08           95.98        174.0     81.2878

[264 rows x 4 columns]

In [16]:
precio_max=precio_365[precio_365['diferencia']==precio_365['diferencia'].max()]
mask=['fecha','precio_oficial','precio_blue','diferencia']
precio_max=precio_max[mask]
precio_max

           fecha  precio_oficial  precio_blue  diferencia
5000  2022-07-22          129.76        338.0    160.4809

In [17]:
Top5=precio_365.nlargest(5, 'diferencia')
Top5=Top5[mask]
Top5

           fecha  precio_oficial  precio_blue  diferencia
5000  2022-07-22          129.76        338.0    160.4809
4999  2022-07-21          129.61        337.0    160.0108
5003  2022-07-27          130.89        326.0    149.0641
5002  2022-07-26          130.62        323.0    147.2822
5001  2022-07-25          130.40        322.0    146.9325

In [18]:
semana=pd.to_datetime(precio_365['fecha'])
precio_365['semana']= semana.dt.isocalendar().week
cols=precio_365.columns.tolist()
cols=cols[-1:]+cols[:-1]
precio_365=precio_365[cols]
precio_365

      semana       fecha  precio_oficial  precio_blue  diferencia
5009      31  2022-08-04          132.64        291.0    119.3908
5008      31  2022-08-03          132.41        298.0    125.0585
5007      31  2022-08-02          132.18        291.0    120.1543
5006      31  2022-08-01          131.94        282.0    113.7335
5005      30  2022-07-29          131.23        296.0    125.5582
...      ...         ...             ...          ...         ...
4750      28  2021-07-15           96.19        178.0     85.0504
4749      28  2021-07-14           96.16        177.0     84.0682
4748      28  2021-07-13           96.13        176.0     83.0854
4747      28  2021-07-12           96.10        177.0     84.1831
4746      27  2021-07-08           95.98        174.0     81.2878

[264 rows x 5 columns]

In [19]:
dia=pd.to_datetime(precio_365['fecha'])
precio_365['dia']=dia.dt.isocalendar().day
cols1=precio_365.columns.tolist()
cols1=cols1[-1:]+cols1[:-1]
# precio_365=precio_365[cols1]
precio_365

C:\Users\Marcela\AppData\Local\Temp\ipykernel_9672\2071392046.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  precio_365['dia']=dia.dt.isocalendar().day

      semana       fecha  precio_oficial  precio_blue  diferencia  dia
5009      31  2022-08-04          132.64        291.0    119.3908    4
5008      31  2022-08-03          132.41        298.0    125.0585    3
5007      31  2022-08-02          132.18        291.0    120.1543    2
5006      31  2022-08-01          131.94        282.0    113.7335    1
5005      30  2022-07-29          131.23        296.0    125.5582    5
...      ...         ...             ...          ...         ...  ...
4750      28  2021-07-15           96.19        178.0     85.0504    4
4749      28  2021-07-14           96.16        177.0     84.0682    3
4748      28  2021-07-13           96.13        176.0     83.0854    2
4747      28  2021-07-12           96.10        177.0     84.1831    1
4746      27  2021-07-08           95.98        174.0     81.2878    4

[264 rows x 6 columns]

In [20]:
pysqldf=lambda q: sqldf(q,globals())
diaD='''SELECT dia,fecha, AVG(diferencia) as diferencia_dia_promedio
        FROM semana_365
        GROUP BY dia
        ORDER BY diferencia_dia_promedio DESC
         '''
df_diaD=pysqldf(diaD)         
df_diaD

PandaSQLException: (sqlite3.OperationalError) no such table: semana_365
[SQL: SELECT dia,fecha, AVG(diferencia) as diferencia_dia_promedio
        FROM semana_365
        GROUP BY dia
        ORDER BY diferencia_dia_promedio DESC
         ]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
pysqldf=lambda q: sqldf(q,globals())
semanaC='''SELECT week,fecha, AVG(diferencia) as week_diferencia_promedio
        FROM semana_365
        GROUP BY week
        ORDER BY week_diferencia_promedio DESC
        LIMIT 3
         '''
df_semanaC=pysqldf(semanaC)
df_semanaC

   week       fecha  week_diferencia_promedio
0    29  2022-07-22                 117.22478
1    30  2022-07-29                 114.85624
2     4  2022-01-28                 109.11502

In [ ]:
cuatro_años = (datetime.datetime.now()-datetime.timedelta(days=1676)).strftime("%Y-%m-%d")
hoy1=datetime.date.today()

2018-01-01

In [ ]:
compra_venta=precio.copy()
compra_venta=compra_venta.loc[(precio['fecha']>str(cuatro_años))&(precio['fecha']<str(hoy1))].join(variacion)

In [ ]:
pysqldf=lambda q: sqldf(q,globals())
query1='''SELECT fecha,MIN(precio_oficial) as 'precio',diferencia as '%_of_vs_blue'
          FROM compra_venta
          UNION
          SELECT fecha,MAX(precio_blue) as venta_blue,diferencia as '%_of_vs_blue'
          FROM compra_venta
         '''
last4=pysqldf(query1)
index=pd.Series(['mejor compra oficial','mejor venta blue'])
last4=last4.set_index(index)
last4

                   fecha  compra oficial  %_of_vs_blue
mejor compra  2018-01-03           18.42        4.7231
mejor venta   2022-07-22          338.00      160.4809

In [ ]:
a=requests.get('https://api.estadisticasbcra.com/usd',token)
a

AttributeError: 'PreparedRequest' object has no attribute 'status_codes'

In [ ]:
eventos=getAPI_DF('https://api.estadisticasbcra.com/milestones',token)

ValueError: Expected object or value

In [ ]:
precio.drop(columns='año',inplace=True)

In [ ]:
año=pd.to_datetime(precio['fecha'])
precio['año']=año.dt.isocalendar().year
cols2=precio.columns.tolist()
cols2=cols2[-1:]+cols2[:-1]
precio=precio[cols2]
precio

       año       fecha  precio_oficial  precio_blue
0     2002  2002-03-04            2.01         2.12
1     2002  2002-03-05            1.99         2.12
2     2002  2002-03-06            2.05         2.14
3     2002  2002-03-07            2.14         2.22
4     2002  2002-03-08            2.20         2.27
...    ...         ...             ...          ...
5004  2022  2022-07-28          131.13       314.00
5005  2022  2022-07-29          131.23       296.00
5006  2022  2022-08-01          131.94       282.00
5007  2022  2022-08-02          132.18       291.00
5008  2022  2022-08-03          132.41       298.00

[5009 rows x 4 columns]

In [ ]:
pysqldf=lambda q: sqldf(q,globals())
query2='''SELECT año
          FROM precio
        '''
años_plt=pysqldf(query2)
años_plt

       año
0     2002
1     2002
2     2002
3     2002
4     2002
...    ...
5004  2022
5005  2022
5006  2022
5007  2022
5008  2022

[5009 rows x 1 columns]